/* src/Footer.css */
.footer {
    background-color:#4b6388;
    color: #000000;
    text-align: right;
    padding: 10px 20px;
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items:center ;
  }
  .git-hub-img{
    width: 30px;
    /* border: 1px solid #fff; */
    margin-top: 13px;
  
  }